* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1380px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

body {
  font-family: "Montserrat", sans-serif;
}

body.locked {
  overflow: hidden;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 14px 30px;
  gap: 19px;
  border: 1px solid #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.link:hover {
  background: -webkit-gradient(linear, left top, right top, from(#074D88), to(#61B3C9));
  background: -o-linear-gradient(left, #074D88 0%, #61B3C9 100%);
  background: linear-gradient(90deg, #074D88 0%, #61B3C9 100%);
  color: white;
  border: 1px solid white;
}

.link:hover svg path {
  fill: white;
}

.link.white {
  border: 1px solid white;
  color: white;
}

.link.white.slid {
  display: none;
}

header {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

header:hover {
  background-color: #191A1E;
}

header:hover .icon path {
  stroke: white;
}

header:hover .name path {
  fill: white;
}

header:hover .burger .block:nth-child(n) {
  background-color: aliceblue;
}

.container.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container.nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.container.nav .burger {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
}

.container.nav .burger .block {
  width: 100%;
  height: 3px;
  background-color: #212733;
  border-radius: 10px;
}

.container.nav .burger .block:nth-child(2) {
  width: 80%;
}

.container.nav .burger .block:nth-child(3) {
  width: 50%;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url(../image/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  place-items: center;
}

.hero_container {
  text-align: center;
  margin-bottom: 200px;
  padding: 0 20px;
}

.hero_container h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 74px;
  text-transform: uppercase;
  color: #212733;
}

.hero_container p {
  margin: 20px 0 60px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.about {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: #F1F1F1;
}

.about_img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.about_img img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.about_company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.about_company .text {
  width: 100%;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  text-align: right;
}

.about_company .text h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 60px;
}

.about_company .text p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #606060;
  margin-bottom: 40px;
  line-height: 150%;
}

.portfolio {
  width: 100%;
  height: 100%;
}

.portfolio .container {
  padding-top: 90px;
  text-align: center;
}

.portfolio .container h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 70px;
}

.portfolio .container .image {
  position: relative;
}

.portfolio .container .image img {
  width: 100%;
  max-width: 1100px;
  height: auto;
}

.portfolio .container .image .absolute {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  right: 150px;
  top: 207px;
}

.offers {
  width: 100%;
  height: 100vh;
  background: #1A1F25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offers .container {
  text-align: center;
  color: white;
  margin: 90px auto;
}

.offers .container h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 80px;
}

.offers .container .table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offers .container .table:not(:last-child) {
  border-bottom: 1px solid #595959;
}

.offers .container .table_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  width: 243px;
  height: 210px;
  padding: 46px 21px;
}

.offers .container .table_item:not(:last-child) {
  border-right: 1px solid #595959;
}

.offers .container .table tr {
  height: 210px;
}

.offers .container .table tr:not(:last-child) {
  border-bottom: 1px solid #595959;
}

.offers .container .swiper {
  width: 100%;
  max-width: 400px;
  height: 100%;
  display: none;
}

.offers .container .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: rgba(33, 39, 51, 0.6509803922);
  border-top: 1px solid #595959;
  border-bottom: 1px solid #595959;
  height: 210px;
  padding: 10px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.offers .container .swiper .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  color: white;
}

.advantage {
  width: 100%;
  height: 100vh;
  background-image: url(../image/adnatage.png);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantage .container h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  color: black;
}

.advantage-block {
  margin-top: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 112px 60px;
}

.advantage-block_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.advantage-block_item img {
  width: 50px;
  height: 50px;
}

.advantage-block_item p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #1A1F25;
}

.request {
  width: 100%;
  height: 100vh;
  background-color: #000201;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.request_bg {
  width: 50%;
  height: 100%;
  z-index: 0;
}

.request_bg img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.request .container {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
}

.special {
  width: 50%;
  height: 500px;
}

.special h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  text-align: right;
}

.special .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 140px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.special .card_item {
  width: 100%;
  height: 285px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px solid white;
  position: relative;
  padding: 60px 5px 30px 15px;
}

.special .card_item::before {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 40px;
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-left: 2px solid white;
  background-color: #000201;
  left: 50%;
  -webkit-transform: translate(-50%, -62px);
      -ms-transform: translate(-50%, -62px);
          transform: translate(-50%, -62px);
}

.special .card_item.gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(#61B3C9), to(#074D88));
  background: -o-linear-gradient(top, #61B3C9 0%, #074D88 100%);
  background: linear-gradient(180deg, #61B3C9 0%, #074D88 100%);
  border: none;
}

.special .card_item.gradient::before {
  border: none;
}

.special .card_item h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.special .card_item h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.special .card_item h5 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration: line-through;
}

.special .card_item p {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #E8E8E8;
}

.special .swiper {
  width: 300px;
  height: 385px;
  display: none;
  margin-top: 100px;
}

.special .swiper .swiper-pagination-bullet {
  background: white;
  opacity: 1;
}

.special .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgb(0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.special .swiper .swiper-slide .card-slide {
  width: 300px;
  height: 385px;
}

.form {
  width: 50%;
}

.form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  margin: 80px 0;
}

.form h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
}

.form span {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border-bottom: 1px solid #FFFFFF;
}

.form input:focus {
  outline: none;
}

.form textarea {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #FFFFFF;
  background-color: transparent;
}

.form textarea:focus {
  outline: none;
}

.form .link {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  width: 100%;
  height: 550px;
  background-color: #17181C;
  display: grid;
  place-items: center;
  color: white;
}

.footer-main_grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid white;
  padding: 45px 0;
  gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-main_grid .block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
}

.footer-main_grid .block h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 33px;
}

.footer-main_grid .block p {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #E6E6E6;
}

.footer-main_grid .block a {
  display: block;
  color: white;
}

.footer-main_social {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.footer-main_social span {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}

.footer-main_social .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer-main_social .social-links a {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: white;
  display: grid;
  place-items: center;
}

.sidebar {
  width: 750px;
  height: 100%;
  position: fixed;
  right: 0;
  background: #191A1E;
  padding: 160px 80px;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  z-index: 9999;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.sidebar .close-button {
  position: absolute;
  top: 40px;
  left: 80px;
  cursor: pointer;
}

.sidebar .close-button:hover path {
  fill-opacity: 1;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  margin-bottom: 200px;
}

.list_item a {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.3);
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.list_item a:hover {
  color: white;
}

.list_item a:hover::before {
  opacity: 1;
}

.list_item a::before {
  content: "";
  display: block;
  position: absolute;
  width: 60%;
  opacity: 0;
  height: 1px;
  background-color: white;
  bottom: -10px;
}

@media (max-width: 1339.98px) {
  .container {
    max-width: 1100px;
  }

  .portfolio .container .image .absolute {
    right: 30px;
  }

  .advantage-block {
    gap: 90px 40px;
  }

  .special h1 {
    font-size: 32px;
  }

  .special .card {
    margin-top: 100px;
  }

  .special .card_item {
    padding: 60px 0px 30px 5px;
  }

  .form form {
    margin: 50px 0;
  }

  .form h1 {
    font-size: 32px;
  }

  .sidebar {
    width: 60%;
  }
}

@media (max-width: 1100.98px) {
  .container {
    max-width: 970px;
  }

  .container.nav .logo .icon {
    width: 40px;
  }

  .container.nav .logo .name {
    width: 130px;
  }

  .portfolio .container .image .absolute {
    top: 160px;
    right: 0;
  }

  .advantage-block {
    gap: 40px 20px;
  }

  .special h1 {
    font-size: 24px;
  }

  .special .card {
    display: none;
    gap: 2px;
  }

  .special .card_item p {
    margin: 60px auto 90px;
  }

  .special .swiper {
    display: block;
  }

  .form h1 {
    font-size: 24px;
  }
}

@media (max-width: 991.98px) {
  .about_company .text h2 {
    font-size: 36px;
    margin-bottom: 40px;
  }

  .about_company .text p {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .portfolio .container {
    padding: 50px 20px;
  }

  .portfolio .container h1 {
    font-size: 36px;
    margin-bottom: 40px;
  }

  .portfolio .container .image .absolute {
    position: static;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 750px;
  }

  .link.white {
    margin-top: 50px;
  }

  .link.white.slid {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  header {
    height: 70px;
  }

  .container.nav .logo .name {
    display: none;
  }

  .hero_container h1 {
    font-size: 50px;
  }

  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .about_company {
    padding: 80px 0;
  }

  .about_company .text {
    padding: 0 40px 0 10px;
  }

  .about_company .text br {
    display: none;
  }

  .about_company .text h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .about_company .text p {
    margin-bottom: 20px;
  }

  .portfolio .container .image .absolute {
    margin-top: 50px;
  }

  .offers {
    height: 100%;
    padding: 50px 20px;
  }

  .offers .container {
    margin: 0 auto;
  }

  .offers .container h1 {
    font-size: 26px;
    margin-bottom: 50px;
  }

  .offers .container .table {
    display: none;
  }

  .offers .container .swiper {
    display: block;
  }

  .advantage {
    height: 100%;
    padding: 300px 0 70px 0;
  }

  .advantage .container h1 {
    font-size: 34px;
  }

  .advantage-block {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 50px;
  }

  .request {
    height: 1300px;
  }

  .request_bg {
    width: 100%;
  }

  .request_bg img {
    height: auto;
  }

  .request .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .special {
    width: 100%;
    height: 100%;
  }

  .special h1 {
    text-align: left;
  }

  .form {
    width: 100%;
    height: 100%;
  }

  .footer {
    height: 100%;
  }

  .footer-main_grid .block a {
    display: block;
    margin-bottom: 10px;
  }

  .sidebar {
    padding: 160px 40px;
  }

  .sidebar .close-button {
    top: 40px;
    left: 40px;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }

  .hero_container h1 {
    font-size: 34px;
  }

  .advantage .container h1 {
    font-size: 28px;
  }

  .advantage-block {
    gap: 20px;
  }

  .footer-main_social {
    margin: 45px 0;
  }

  .sidebar {
    width: 100%;
  }
}